
<div class="example-container mat-elevation-z8">

    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="airportname" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>Airport Name </mat-header-cell>
      <mat-cell *matCellDef="let airport"> {{airport.airportName}} </mat-cell>
    </ng-container>

 
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
      <mat-cell *matCellDef="let airport"> {{airport.vicinity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="distance" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Distance (KM) </mat-header-cell>
      <mat-cell *matCellDef="let airport"> {{airport.distance}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
      <mat-cell *matCellDef="let airport"> {{airport.rating}} </mat-cell>
    </ng-container>

   

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator  [pageSize]="5"  [pageSizeOptions]="[5, 10, 20]"  [showFirstLastButtons]="true">
</mat-paginator>

</div>


